# Dependencies
node_modules/

# Next.js build output
.next/

# Static export
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env*.local

# Misc
.DS_Store
.turbo/
dist/
coverage/
.vercel/

